/*
	tswnavbar.css	2.0.0
	Please use the Navigation Menu Wizard at
		https://www.thesitewizard.com/wizards/css-menu-buttons.shtml
	to generate your own customized menu buttons.
*/

#tswcssbuttons {
	width: 180px ;
	max-width: 100% ;
	text-align: center ;
}
#tswcssbuttons ul {
	margin: 0 ;
	padding: 0 ;
	list-style: none ;
}
#tswcssbuttons li {
	margin: 0 ;
	padding: 0 ;
	display: block ;
	list-style: none ;
	font-family: 'Courier New', Courier, monospace;
}
#tswcssbuttons li a {
	color: #f11500 ;
	background-color: #202020 ;
	border: 5px outset #ffff00 ;
	text-decoration: none ;
	display: block ;
}
#tswcssbuttons li a:hover {
	color: #ff90f0 ;
	background-color: #c0c0c0 ;
}
