body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #202020;
}

h1 {
    font-size: 60px;
    margin: 0;
}

h3 {
    margin: 0;
}

#scoreboard {
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#reset {
    cursor: pointer;
    border-radius: 15px;
    width: 100px;
    height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.stuff {
    color: #f00;
    background-color: black;
}